# Categorizing Records in Pandas DataFrames

## 1. Import Libraries and Dependencies

In [1]:
# import dependencies
import pandas as pd
from pathlib import Path

## 2. Set the File Path to the CSV using Pathlib

In [2]:
# Use the Pathlib libary to set the path to the CSV
csvpath = Path("cleaned_people_data.csv")

## 3. Import the CSV into Pandas DataFrame

In [3]:
# Use the file path to read the CSV into a DataFrame and display a few rows
binning_df = pd.read_csv(csvpath)
binning_df.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

## 4. Create Bins for Total Ranking

In [4]:
# Create the variable bins to define our bounds for when we cut the dataframe.
bins = [0, 30000, 70000, 100000, 200000]

# Create names for the bins
group_names = ["Low", "Moderate", "Above Average", "High"]

## 5. Label Records According to the Corresponding Bin

In [5]:
# Add a column named "Salary Level" to people_df and slice the data into the bins
binning_df['Salary Level'] = pd.cut(binning_df['Salary'], bins, labels=group_names)
binning_df.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age,Salary Level
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27,Moderate
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22,Above Average
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40,Moderate
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62,Above Average
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47,Above Average
5,6,Snozzwell,Antonio,Male,Babcock University,Technical Writer,119916.0,asnozzwell5@mysql.com,49,High
6,7,Neathway,Darya,Female,Molloy College,Administrative Officer,77705.0,dneathway6@seesaa.net,64,Above Average
7,8,Duding,Helaina,Female,St. Paul University,Staff Scientist,57166.0,hduding7@topsy.com,26,Moderate
8,9,Franzolini,Gerhardine,Female,Fundação Educacional de Ituverava,Environmental Specialist,73051.0,gfranzolini8@msn.com,22,Above Average
10,11,Crepin,Horst,Male,College of William and Mary,Cost Accountant,68077.0,hcrepina@google.it,49,Moderate
16,17,Lehrmann,Gabriela,Female,Aichi Prefectural University,Health Coach III,69729.0,glehrmanng@house.gov,35,Moderate
20,21,Meikle,Geneva,Female,Dar al Hekma College,Quality Control Specialist,116539.0,gmeiklek@hubpages.com,35,High
24,25,Gutowska,Cirillo,Male,Mansfield University of Pennsylvania,Staff Scientist,104212.0,cgutowskao@elpais.com,38,High
25,26,Pinel,Henrietta,Female,Georg-Simon-Ohm-Fachhochschule Nürnberg,Business Systems Development Analyst,115360.0,hpinelp@aol.com,24,High
28,29,Haydney,Dorene,Female,Southern New Hampshire University,Research Assistant IV,112098.0,dhaydneys@blogger.com,55,High